@{
    ViewData["Title"] = "Accueil";
}
<h1>Bienvenue sur Suivi Livraison</h1>
<p>
    <a class="btn btn-primary" href="/Identity/Account/Login">Connexion</a>
    <a class="btn btn-success" href="/Identity/Account/Register">Inscription</a>
</p>
